[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
rake-nltk = "*"
jupyter = "*"
notebook = "*"
huspacy = "*"
hu-core-news-lg = {file = "https://huggingface.co/huspacy/hu_core_news_lg/resolve/main/hu_core_news_lg-any-py3-none-any.whl"}
spacy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
